@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 100%, 100%);
    --grey500: hsla(217, 12%, 63%, 0.164);
    --grey900: hsla(213, 20%, 18%, 0.856);
    --grey950: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Overpass', serif;
    font-size: min(15px);
    background-color: var(--grey950);
}

.component-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: #1a2128;
    color: var(--white);
    border-radius: 2rem;
    padding: 2rem;
}

h1 {
    margin-top: 2rem;
}

p {
    line-height: 1.5rem;
    margin: 1rem 0 1.5rem 0;
    opacity: 0.6;
}

.circle-container {
    display: flex;
    justify-content: space-between;
}

.circle {
    display: grid;
    place-items: center;
    background-color: var(--grey500);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.rating {
    cursor: pointer;
}

.rating:hover {
    background-color: var(--orange);
    color: var(--grey950);
}

.rating.selected {
    background-color: var(--white);
    color: var(--grey950);
}

button {
    cursor: pointer;
    width: 100%;
    background-color: var(--orange);
    border: 0;
    margin-top: 1.5rem;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 2rem;
}

button:disabled {
    cursor: not-allowed;
}

button:enabled {
    background-color: var(--white);
    transition: all 1s ease 1ms;
}

button:active {
    outline: 0;
    transform: translateY(-1px);
}

.result-component {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rating-result {
    margin-top: 2rem;
    background-color: var(--grey500);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--orange);
}

.result-component h2 {
    font-size: 1.8rem;
    margin: 2rem 0 0 0;
}

@media screen and (min-width: 480px) {
    .component-container {
        width: 380px;
    }
}

@media (orientation: landscape) {
    body {
        padding: 2% 0;
    }
}